#top-header {
    -fx-background-color: #b2b2b2;
}

#header {
    -fx-border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4;
    -fx-background-color: #e9e9e9;
}



.box-anagrafica {
    -fx-border-color: #f4f4f4 #f4f4f4 #A2A4A8 #f4f4f4;
}

.box-header {
    -fx-border-color: #fff #000 #fff #000;
}

.menu-header-active {
    -fx-background-color: #f8ecc2;
}


.box-header:selected:focused {
    -fx-background-color: #f8ecc2;
}

.box-header:pressed {
    -fx-background-color: #f8ecc2;
}

.box-header:selected {
    -fx-background-color: #f8ecc2;
}