#top-header {
    -fx-background-color: #505050
}


#sidebar {
    -fx-background-color: #a2a2a2;
}

.sidebar-row{
    -fx-border-color: #000 #000 #000 #000;
}

#header {
    -fx-border-color: #f4f4f4 #f4f4f4 #000 #f4f4f4;
    -fx-background-color: #e9e9e9;
}

.box-anagrafica {
    -fx-border-color: #f4f4f4 #f4f4f4 #A2A4A8 #f4f4f4;
}

.box-header {
    -fx-border-color: #fff #000 #fff #000;
}


.section-find-manager{
	  -fx-border-color: #fff #000 #fff #000;
}